* {
    cursor: none;
}

.cursor {
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 5vh;
    height: 5vh;
    z-index: 10;
    border-radius: 100%;
    background-color: var(--white_bright);
    mix-blend-mode: difference;
    pointer-events: none;
    transition: 0.1s;
}

.cursorPoint {
    width: 2vh;
    height: 2vh;
    z-index: 11;
    transition: 0s;
}

.cursorBig {
    width: 15vh;
    height: 15vh;
    transform: translate(-50%, -50%);
    transition: 0.1s;
}